<!DOCTYPE html>
<html>
<head>
    <%- include('parts/head') %> 
</head>
<body>
    <%- include('parts/navbar') %> 
    
    <div class="container" style="margin-top:100px; margin-bottom:100px;">
        <div class="d-flex flex-row align-items-center justify-content-end">
            <i class="bi bi-water me-2"></i>
            <h3 id="pool_h3" class="mb-0"></h3>
          </div>
        <hr>

        <div class="row">
            <div id="left-side" class="col-lg-6 col-12 order-lg-1 order-2">
                <div id="status" class="mt-3 mb-4">
                  <div class="d-flex flex-row align-items-center">
                    <i class="bi bi-box-arrow-in-left me-2"></i>
                    <h3 class="mb-0 text-left">Accesses list</h3>
                  </div>
                  <table class="table" id="access-data-table">
                    <thead>
                        <tr>
                        <th>Client</th>
                        <th>Date</th>
                        <th>Request</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Data rows will be dynamically inserted here -->
                    </tbody>
                  </table>
                </div>
            </div>
        
            <div id="right-side" class="col-lg-6 col-12 order-lg-2 d-flex align-items-top justify-content-center">
                <div id="status" class="mt-3 mb-4">
                    <div class="d-flex flex-row align-items-center">
                      <i class="bi bi-bar-chart-line me-2"></i>
                      <h3 class="mb-0 text-left">Chart</h3>
                    </div>
                    <div class="">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>  
            </div>
        </div>
        <!--<ul id="date-list" class="mt-3 mb-4"></ul>-->
    </div>

    <%- include('parts/script') %> 
    <script>
        // Extract the pool value from the URL parameters
        const urlParams = new URLSearchParams(window.location.search);
        const pool = urlParams.get('pool');

        document.getElementById('pool_h3').innerHTML = pool;

        let counts = [];
        let dates = [];

        fetch(`/get`)
        .then(response => response.json())
        .then(data => {
            //const dateList = document.getElementById('date-list');
            
            data = data.filter(item => item.pool === pool);
            
            let accesses = [];
            data.forEach(item => {
                if(!accesses.includes(item.date)){
                    accesses.push(item.date);
                }
                if(!dates.includes(item.date)){
                    dates.push(item.date);
                }
            });
            accesses.forEach(item => {
                let count = 0;
                data.forEach(item2 => {
                    if(item === item2.date){
                        count++;
                    }
                });
                counts.push(count);
            });

            // Initialize DataTable with the data
            const dataTable = new DataTable('#access-data-table', {
            data: data,
            columns: [
                { data: 'client' },
                { data: 'date' },
                { data: 'request' }
            ]
            });

            // Chart
            const ctx = document.getElementById('myChart');

            new Chart(ctx, {
            type: 'bar',
            data: {
                labels: dates,
                datasets: [{
                label: 'Accesses',
                data: counts,
                borderWidth: 1
                }]
            },
            options: {
                scales: {
                y: {
                    beginAtZero: true
                }
                },
                /*responsive: false,
                maintainAspectRatio: false,*/
            }
            });
        })
        .catch(error => console.error(error));
    </script>
</body>
</html>
