<!DOCTYPE html>
<html>
<head>
    <title>Dashboard - Info</title>
    <style>
        
    </style>
</head>
<body>
    <ul id="date-list"></ul> <!-- Create an empty list element -->

    <script>
        // Extract the pool value from the URL parameters
        const urlParams = new URLSearchParams(window.location.search);
        const pool = urlParams.get('pool');

        fetch(`/get`)
        .then(response => response.json())
        .then(data => {
            const dateList = document.getElementById('date-list');

            // Iterate over the data and add date values to the list
            data.forEach(item => {
            if (item.pool === pool) {
                const listItem = document.createElement('li');
                listItem.textContent = item.date;
                dateList.appendChild(listItem);
            }
            });
        })
        .catch(error => console.error(error));
    </script>
</body>
</html>
